/*Style for first page, mobile first, quiz*/

html, body {
    height: 100%;
    margin: 0;
    background-color: black;
}
header{
    padding: 60px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
    margin:0px;
    background-color: black;
    /*background-color: rgb(66, 66, 66);*/
}
#title{
    color:white;
    text-align: center;
}
/*container holds the form(s), with each question: food and activity*/
.container{
    background-color:pink ;
    padding:70px 0; 
    margin-bottom:0px ;
}
/*form, contains question/button:zip, food, activity*/
form{
    
    text-align: center;

}

#foodDiv{
    background-color: black; 
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*button responses*/
.ansButton{
    background-color: black; 
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/*zip code styling*/
#location{
    color:white;
    margin-left: 10%;
    margin-right: 10%;
    background-color: black;
    border-radius: 25px;
}
/*hide for now*/
#results{
    background-color: black; 
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
}

.selected{
    margin-top:0px ;
    background-color: "blue";
}
/*Bottom of page, will hold result lists, Blank before then?*/
#listSpace{
    padding: 60px;
    text-align: center;
    font-size: 30px;
    margin:0px;
    background-color: white; 
}