/*Style for first page, mobile first, quiz*/
/*FIX? the css*/
html, body {
    height: 100%;
    margin: 0;
    background-color: black;
}
/*TitleColors+font*/
#dateTitle{
    color:pink;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
#generatorTitle{
    color:grey;
    font-family:Courier New, monospace;
}
#Title{
    color:pink;
}
/*Title at top of page*/
header{
    padding: 60px;
  
    text-align: center;
    color: white;
    font-size: 30px;
    margin:0px;
    background-color: black;
    /*background-color: rgb(66, 66, 66);*/
}
#title{
    color:white;
    text-align: center;
}
/*container holds the form(s), with each question: food and activity*/
.container{
    background-color:pink ;
    padding:70px 0; 
    margin-bottom:0px ;
}
/*form, contains question/dropdown:zip, food, activity*/
form{
    
    text-align: center;
    
}


/*Dropdowns*/
#foodList{
    background:black;
    color:white;
    font-size: 32px;
    border-color: black;
}
#activityList{
    background:black;
    color:white;
    font-size: 32px;
    border-color: black;
}
/*Question Boxes*/
#foodDiv{
    background-color: black; 
    border: none;
    color: white;
    padding: 16px 32px;
    padding-right: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
}
#activityDiv{
    background-color: black; 
    border: none;
    color: white;
    padding: 16px 32px;
    padding-right: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
}
#questionsDiv{
    display: block;
    margin:auto;
}
/*Done button*/
#doneButton{
    margin: 10px;
    background-color: black; 
    border: none;
    color: white;
    padding: 16px;
    text-align: center;
    font-size: 32px;
}

/*hide for now*/
#results{
    background-color: black; 
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
}

.selected{
    margin-top:0px ;
    background-color: "blue";
}
/*Bottom of page, will hold result lists, Blank before then?*/
#listTitle{
    padding: 60px;
    text-align: center;
    font-size: 30px;
    margin:0px;
    background-color: white; 
}
/*Will fill empty lists with li's using JS+GMaps API*/
#listSpace{
    background-color: pink;
    text-align: center;
}
/*Lists of results for both, centered and not tiny, maybe hide*/
.resultListClass{
    color: white;
    padding:25px;
    background-color: black;
    display: inline-block;
    /*Unsure of this one*/
    min-width: 400px;
}
/*Should be on left*/
#foodResult{
    margin-right:25px;
    
}